* {
	margin: 0;
	padding: 0;
}

:root {
	--offwhite: #F9F5EE;
	--coral: #FFA18A;
	--black: #282828;
	--blue: #7CAAEE;
	--cyan: #8BE4EB;
	--green: #86C2A8;
	--darkblue: #0A2551;
	--darkgreen: #1F5959;
	--sand: #CAC4B7;

	--text: 24px;
	--serif: "Platypi", Georgia, serif;
	--sans: "Albert Sans", Verdana, sans-serif;
}

@font-face {
 	font-family: Platypi;
 	src: url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
}

@font-face {
	font-family: Albert Sans;
	src: url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
}

html, body {
	height: 100%;
	background: var(--offwhite);
	font-family: var(--sans);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	scroll-behavior: smooth;
}

html, body {overflow: hidden;}
body {overflow-y: auto;}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

a {
	text-decoration: none;
	color: var(--black);
}

h1, h2, h3, h4 {
	font-family: var(--serif);
}

p, button, a {
	font-family: var(--sans);
}

button {
	font-weight: 500;
	text-align: center;
}

button:hover {cursor: pointer;}

.button {
	padding: 12px 0;
	border-radius: 30px;
	border: 0px;
}

.button a {
	padding: 12px 30px;
}

.button:hover {background: var(--black);}
.button:hover a {color: var(--coral);}

.outlined {
	background: transparent;
	border: 1px solid black;
}

.text-bt {
	background: transparent;
	padding: 6px 0;
	font-size: 20px;
	border-bottom: 2px solid var(--black);
}
.text-bt::after {
	content: "\A\2009→";
}

ul {
	list-style-type: square;
}

ul li {
	margin-left: 16px;
	line-height: 135%;
	padding: 4px 0 4px 12px;
}

.coral {background: var(--coral);}
.white {background: var(--offwhite);}
.black {background: var(--black);}
.cyan {background: var(--cyan);}
.green {background: var(--green);}
.darkgreen {background: var(--darkgreen); color: var(--offwhite);}
.darkgreen a {color: var(--offwhite);}

.round_TL {border-top-left-radius: 100%;}
.round_TR {border-top-right-radius: 100%;}
.round_BL {border-bottom-left-radius: 100%;}
.round_BR {border-bottom-right-radius: 100%;}


/* Slide Animation */

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}


/* ––– NAV BAR ––– */

.nav {
	width: calc(100vw - 120px);
	height: 70px;
	padding: 10px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--off-white);
	position: fixed;
	top: 0;
	z-index: 2;
	transition: top 0.3s;
}

.logo {
	height: auto;
	max-width: 180px;
	object-fit: contain;
}

#nav .blur {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	-webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 95%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 95%);
    backdrop-filter: blur(6px) brightness(1.05);
}
}

.menu {
	display: inline-flex;
	align-items: center;
	gap: 36px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline-flex;
}

.nav li {
	display: block;
	padding: 24px;
}

.hamburger {
	display: none;
	z-index: 4;
	width: fit-content;
	height: auto;
}

.line1, .line2, .line3 {
	width: 30px;
	height: 2px;
	margin: 8px 0 8px 16px;
	background: #000;
	border-radius: 50px;
	transition: 0.2s;
	position: relative;
}

.active .line1{
    transform: translate(0px , 15px)rotate(45deg);
    top: -5px;
}
.active .line2{
    opacity: 0;
}
.active .line3{
    transform: translate(0px , -15px)rotate(-45deg);
    top: 5px;
}

.dropdown {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	overflow: auto;
	background: var(--sand);
	height: 0;
	width: 100%;
	box-shadow: 4px 8px 8px 0px rgba(0,0,0,0.2);
	border-radius: 3px 0 0 3px;
	z-index: 3;
	transition: 0.3s;
	opacity: 0;
}

.dropdown ul {
	display: block;
	padding-top: 70px;
}

.dropdown li {
	margin: 0;
	padding: 20px 30px;
}

.open {
	opacity: 1;
	height: 280px;
}


@media only screen and (max-width: 750px) {

	.nav {
		height: 50px;
		width: calc(100vw - 60px);
		padding: 20px 30px;
	}
	.logo {
		width: 140px;
	}
	.menu {
		display: none;
	}
	.hamburger {
		display: block;
	}
	body {
		font-size: 20px;
	}
}



/* ––– HERO ––– */

section:not:first-child {
	width: calc(100vw - 120px);
	padding: 30px 60px;
}

#hero {padding: 0;}

.headline {
	height: calc(50vh - 60px);
	background: var(--blue);
	padding: 30px 60px;
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.headline h1 {
	font-size: 5rem;
	line-height: 1.1;
}

.headline img {
	width: 20vw;
	max-width: 300px;
}

.hero-bottom {
	display: flex;
	padding: 30px 60px;
	justify-content: space-between;
}

.hero-text {
	display: inline-block;
	width: calc(50% - 72px);
	position: -webkit-sticky;
	position: sticky;
	align-self: flex-start;
	top: calc(100vh - 210px);
	line-height: 1.5;
}

.hero-text button {
	margin: 24px 0;
}

.hero-img {
	flex-basis: calc(50% - 72px);
}

.hero-img img {
	width: 100%;
	aspect-ratio: 3/4;
	object-fit: cover;
	border-bottom-right-radius: 400px;
}

@media only screen and (max-width: 750px) {

	.headline, .hero-bottom {
		padding: 30px;
	}

	.hero-bottom {
		height: calc(50vh - 40px);
	}

	.headline h1 {
		font-size: 3.25rem;
	}

	.headline img {
		display: none;
	}

	.hero-text {
		width: auto;
		font-size: 1.125rem;
	}

	.hero-img {
		display: none;
	}

	button {
		font-size: 16px;
		padding: 10px 30px;
	}
}


/* --- PRODUCT --- */

#overview {
	padding: 120px 60px;
}

.meetJune h1 {
	font-size: 3.5rem;
	display: inline-block;
	vertical-align: top;
}

.meetJune h5 {
	font-size: 1.5rem;
	margin-bottom: 18px;
}

.meetJune img {
	display: inline-block;
	height: 5rem;
	width: auto;
	padding: 1.5rem 0 0 12px;
}

.june-features {
	display: flex;
	flex-flow: row nowrap;
	width: calc(100vw - 120px);
	gap: 24px;
	padding: 24px 0;
}

#feature-img {
	width: 50%;
}

#feature-img img {
	width: 100%;
	height: auto;
	display: none;
}

#feature-points {
	width: 50%;
}

#feature-points h3 {
	font-family: var(--sans);
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 135%;
	transition: font-weight 0.1s ease;
}

#feature-points ul {
	padding-top: 24px;
	display: none;
	transition: display 0s 0.3s, opacity 0.3s ease;
}

#feature-points div:not(:last-child) {
	border-bottom: 1px solid black;
	width: 100%;
	padding-bottom: 24px;
	margin-bottom: 24px;
}


@media only screen and (max-width: 750px) {

	#overview {
		padding: 60px 30px;
	}

	.meetJune h1 {
		font-size: 2.5rem;
		line-height: 1.25;
	}
	.meetJune img {
		height: 4rem;
		padding: 1rem 0;
	}
	.meetJune h5 {
		font-size: 1.25rem;
	}

	.june-features {
		width: auto;
		flex-flow: column nowrap;
	}
	#feature-img, #feature-points {
		width: 100%;
	}
	#feature-points h3 {font-size: 1.75rem;}

}


/* ––– USE CASES ––– */

#use-cases h2 {
	font-size: 1.75rem;
	text-align: center;
}

#case-tabs {
	display: flex;
	justify-content: center;
	gap: 48px;
	padding: 36px 0;
}

#case-tabs button {
	font-weight: 400;
	border-radius: 0;
	border: 0px;
}

.case-tab-button {
	text-align: center;
	padding: 12px;
	font-size: 2rem;
	color: rgba(40,40,40,0.25);
	transition: color 0.3s ease;
}

.case-tab-button.active {
    color: var(--black);
  }

.case-content {
	padding: 0 60px;
	display: none;
	transition: display 0s 0.3s, opacity 0.3s ease;
}

.case-content.active {
    display: block;
    opacity: 1;
    transition-delay: 0s;
 }


@media only screen and (max-width: 750px) {

	#use-cases {
		padding: 30px;
	}

	#use-cases h2 {
		font-size: 2rem;
		text-align: initial;
		line-height: 1.25;
	}

	#case-tabs {
		justify-content: initial;
		transform: translateX(-30px);
		width: 100%;
		padding: 36px 30px;
		overflow-x: scroll;
	}
	.case-tab-button {
		font-size: 1.5rem;
		text-align: left;
		text-wrap: nowrap;
		padding: 12px 0;
	}

	.case-content {
		padding: 0;
	}

}


/* ––– ABOUT US ––– */

#aboutus {
	padding: 60px;
	padding-top: 48px;
	margin-top: 72px;
	background: var(--cyan);
}

#aboutus h6 {
	text-transform: uppercase;
	padding-bottom: 54px;
}

#aboutus h2 {
	font-size: 3rem;
	line-height: 1.2;
	width: 75%;
}

#aboutus p {
	font-size: 24px;
	padding: 24px 0 36px 0;
	line-height: 1.35;
}


@media only screen and (max-width: 750px) {

	#aboutus {
		padding: 60px 30px;
		padding-top: 48px;
	}

	#aboutus h2 {
		font-size: 2.25rem;
		line-height: 1.35;
		width: 100%;
	}

	#aboutus p {
		font-size: 18px;
		padding: 36px 0;
		line-height: 1.75;
	}
}


/* ––– CTA ––– */

#CTA {
	height: 45vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	background: var(--coral);
}

.CTA-text {
	flex-basis: 60%;
	padding-left: 60px;
}

.CTA-text h4 {
	font-size: 2rem;
	padding-bottom: 24px;
}

#CTA .graphic {
	aspect-ratio: 1 / 1;
	height: 100%;
	position: relative;
	margin-left: auto;
	right: 0;
}

.quadrant {
	height: 100%;
	width: 100%;
}

.square {
	height: 60%;
	width: 60%;
	position: absolute;
	right: 0;
	bottom: 0;
}


@media only screen and (max-width: 750px) {

	#CTA {
		flex-flow: column nowrap;
		height: auto;
	}

	.CTA-text {
		padding: 60px 30px 0 30px;
	}

	#CTA .graphic {
		width: 50%;
	}
}



/* ––– FOOTER ––– */

footer {
	width: calc(100% - 120px);
	background: var(--sand);
	padding: 48px 60px;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 100%;
	align-items: flex-end;
	padding-bottom: 84px;
}

.footer-left {
	display: flex;
	flex-flow: row wrap;
	max-width: 50%;
}

.footer-left img {
	width: 180px;
	padding-bottom: 24px;
}

.footer-top h6 {
	font-size: 1rem;
	font-weight: 600;
	padding-bottom: 12px;
}

.desc {
	line-height: 1.5;
}

.desc h6 {
	width: 80%;
	font-size: 18px;
	font-weight: 400;
}

.desc button {
	background: var(--black);
	padding: 8px 0;
}

.desc a {
	padding: 8px 24px;
	color: var(--offwhite);
}

.footer-right {
	width: 45%;
}

#subscribe input {
	background: transparent;
	border-bottom: 1px solid black;
	border-radius: 0;
	width: calc(100% - 120px);
}

#subscribe button {
	width: 115px;
}

#subscribe button:hover {
	color: var(--coral);
}

.page-links {
	padding: 48px 0;
}

.page-links p {
	padding-bottom: 16px;
	font-weight: 600;
}

.footer-bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: end;
	font-size: 14px;
}

.icons {
	display: inline-flex;
	gap: 24px;
	padding-bottom: 12px;
}

.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


@media only screen and (max-width: 750px) {

	footer {
		width: calc(100% - 60px);
		padding: 48px 30px;
	}

	.footer-top {
		padding-bottom: 0;
	}
	.footer-left {
		max-width: 100%;
	}
	.footer-left img {
		width: 120px;
	}
	.footer-left h6 {
		width: 100%;
	}

	.footer-right {
		width: auto;
		padding: 60px 0;
	}
	.sub h6 {
		font-size: 1.5rem;
	}
	#subscribe input {
		width: 100%;
	}
	.page-links {
		padding-top: 60px;
	}

	.footer-bottom {
		flex-flow: column nowrap;
		align-items: initial;
	}
	.socials {
		padding: 24px 0;
	}
}


/* ===== PAGES ===== */

.page {
	min-height: 36%;
	display: flex;
}

.page.hero {
	position: relative;
}

.page.hero .graphic {
	aspect-ratio: 1/1;
	position: absolute;
	z-index: -1;
}

.page_title h1 {
	padding-top: 140px;
	font-size: 4rem;
	line-height: .8;
}

.page_title {
	padding-left: 60px;
}


@media only screen and (max-width: 750px) {

	.page_title {
		padding-left: 30px;
	}
}


/* ---- CONTACT US ---- */

#contact {
	min-height: 100%;
	display: flex;
}

#contact .page_title {
	min-width: calc(46.25% - 60px);
	background: var(--cyan);
	position: relative;
}

#contact .socials h6 {
	padding: 48px 0 12px 0;
}

#contact .graphic {
	width: 50%;
	aspect-ratio: 1/1;
	background: var(--darkblue);
	position: absolute;
	bottom: 0;
	z-index: -1;
}

#contact .desktop {
	left: 0;
}

#contact .mobile {
	display: none;
}

#contact .form {
	padding: 140px 60px 0 30px;
}

.form-text p {
	line-height: 1.35;
}

#form {
	margin: 24px 0 60px 0;
}

input, textarea {
	width: 100%;
	padding: 10px 12px;
	margin: 6px 0;
	border: 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 18px;
	font-family: var(--sans);
	background-color: white;
}

label {
	font-weight: 600;
}

#error {
	color: red;
}

.submit {
	margin-top: 12px;
	padding: 12px 60px;
	border-radius: 30px;
	border: 0px;
	transition: all .35s;
}

.submit:hover {
	cursor: pointer;
	color: var(--coral);
}

#success h3 {
	font-size: 2rem;
}

#success p {
	padding-top: 12px;
	padding-bottom: 60px;
}


@media only screen and (max-width: 750px) {
	.contact {
		grid-column: 1 / span 6;
		width: calc(100vw - 60px);
	}

	#contact {
		display: block;
	}
	#contact .page_title {
		min-width: calc(100% - 60px);
	}
	#contact .desktop {
		display: none;
	}
	#contact .mobile {
		display: block;
		right: 8px;
	}

	#contact .form {
		padding: 60px 30px;
	}
}


/* ---- ABOUT US ---- */

#about {
	padding-bottom: 90px;
}

#about .graphic {
	height: 75%;
	background: var(--darkgreen);
	bottom: 0;
	right: 0;
}

#about-content {
	padding: 60px;
	margin-bottom: 90px;
}

#about-content h2 {
	font-size: 2rem;
	padding: 36px 0 12px 0;
}

#about-content p {
	line-height: 1.5;
	padding: 8px 0;
}

#about-content .highlight {
	font-family: var(--serif);
	font-size: 1.25rem;
	line-height: 1.35;
}

.vision ol {
	list-style-type: lower-roman;
	line-height: 1.5;
	padding-left: 1.5rem;
}

.vision li {
	padding: 0 1rem;
}


@media only screen and (max-width: 750px) {

	#about {
		padding-bottom: 0;
	}

	#about-content {
		padding: 30px;
	}
	#about-content h2 {
		padding: 72px 0 12px 0;
	}
	#about-content p {
		line-height: 1.75;
	}
	#about-content .highlight {
		font-size: 1.75rem;
		padding: 24px 0;
	}
}



/* ---- MEET JUNE ---- */

#product {
	display: block;
}

#product .page_title img {
	padding-top: 150px;
}

.product_hero img {
	width: calc(100% - 120px);
	aspect-ratio: 16/9;
	padding: 30px 60px;
	border-bottom-right-radius: 40%;
	object-fit: cover;
}

#product-content {
	padding: 120px 60px;
	display: flex;
	flex-flow: column wrap;
	width: calc(100% - 120px);
	gap: 48px;
}

#product-content h2 {
	font-size: 2rem;
	padding-bottom: 24px;
}

.chat, .system, .eval, .matching {
	flex-basis: 100%;
	display: flex;
	flex-flow: row nowrap;
	gap: 24px;
}

#product-content img {
	width: calc(50% - 12px);
	object-fit: cover;
}

#product-content .right {
	order: 2;
}


@media only screen and (max-width: 750px) {

	#product .page_title h1 {
		line-height: 1;
	}
	#product .page_title img {
		padding-top: 18px;
		height: 5.5rem;
	}
	.product_hero img {
		width: calc(100% - 60px);
		padding: 30px;
		border-bottom-right-radius: 0;
	}

	#product-content {
		padding: 60px 30px;
		width: calc(100% - 60px);
	}
	.chat, .system, .eval, .matching {
		display: block;
	}
	#product-content img {
		width: 100%;
	}
	#product-content .right {
		order: 1;
	}
	#product-content ul li {
		line-height: 1.5;
		padding: 8px 0 8px 12px;
	}

}

